<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile [routerLink]="'pie'">
    <app-pie-chart></app-pie-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'bar'">
    <app-bar-chart></app-bar-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'line'">
    <app-line-chart></app-line-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'bubble'">
    <app-bubble-chart></app-bubble-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'geo'">
    <app-geo-chart></app-geo-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'gauge'">
    <app-gauge-chart></app-gauge-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'donut'">
    <app-donut-chart></app-donut-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'area'">
    <app-area-chart></app-area-chart>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'word'">
    <app-word-trees></app-word-trees>
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'org'">
    <app-organization-chart></app-organization-chart>
  </mat-grid-tile>
</mat-grid-list>
